<div class="container">
  <div class="card">
    <div class="card-header">
      Firebase Realtime Database & Angular 5
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let book of books | async">
          <pre>{{ book | json }}</pre>
        </li>
      </ul>
      <button (click)="addBook()" type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Firebase Cloud Storage & Angular 5
    </div>
    <div class="card-body">
      <h5 class="card-title">Select a file for upload: </h5>
      <input type="file" name="srcFile" id="srcFile" 
        (change)="upload($event)" accept="*">
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success"
        role="progressbar" 
        [style.width]="(uploadProgress | async) + '%'"
        [attr.aria-valuenow]="(uploadProgress | async)" 
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="alert" role="alert" *ngIf="downloadUrl | async; let downloadSrc">
      File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
    </div>
    <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
      <button type="button" class="btn btn-primary"
        (click)="afTask.pause()" [disabled]="state === 'paused'">Pause</button>
      <button type="button" class="btn btn-primary"
        (click)="cancelUpload()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
      <button type="button" class="btn btn-primary"
        (click)="afTask.resume()" [disabled]="state === 'running'">Resume</button>
    </div>
  </div>
</div>
